<div class="article-item">
  <h3 class="article-item--heading">{{title}}</h3>
  <small class="article-item--authors">{{authors}}</small>
  <p class="article-item--abstract">{{abstract}}</p>
  <div>
    <span>Save</span>
    <span>Cite</span>
  </div>
</div>