<div class="modal">
  <div class="modal__content">
    <h3 id="modal-message"></h3>
    <div class="flex">
      <button class="button button--outline" id="cancelBtn">
        Cancel
      </button>
      <button
        id="deleteBtn"
        class="button {{buttonColor}}"
      >{{buttonName}}</button>
    </div>
  </div>
</div>