<link rel="stylesheet" href="css/nav.css" />
<nav>
  <div class="nav-container container flex">
    <h1 class="nav-logo">CCS Research</h1>
    <ul class="flex nav-items">
      <li><a href="#"> Home</a></li>
      <li><a href="#"> Articles</a></li>
    </ul>
  </div>
</nav>