<section class="padded">
  <div class="container">
    <h1>Article Requests</h1>
    <div class="article__list">
      {{#each articles}}
        {{>article-request}}
      {{/each}}
      
    </div>
  </div>
</section>