.search-section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.search-section .search-section__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-section .search-section__input {
  width: 30%;
}

.search-section button {
  background-color: #c7c7c7;
  padding: 3px;
}

.article__list {
  width: 60%;
}

.filter {
  width: 20%;
  margin-right: 30px;
}

.filter__box {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 30px 35px;
}

.filter__box > fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.pagination {
  margin-top: 30px;
  justify-content: center;
}

.pagination__btn {
  min-width: 30px;
}

.pagination__btn--active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.article__list h2 {
  text-align: center;
}
