.buttons__container {
  margin: 24px 0;
}

.buttons__container > button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.abstract {
  background-color: #f0f0f0;
  padding: 24px;
}
.abstract h4 {
  font-style: italic;
}

#modal-message {
  padding: 10px;
  /* width: 300px; */
}

.modal .modal__content {
  gap: 10px;
}
.modal .modal__content .copy-citation {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#copyBtn {
  display: none;
}
