.search-section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.search-section > input {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.filter-box {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 5px;
  min-width: 345px;
  padding: 30px 35px;
}

.filter-box > fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}
