#modal-message {
  padding: 10px;
  /* width: 300px; */
}

.modal .modal__content {
  gap: 10px;
}
.modal .modal__content .copy-citation {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#copyBtn {
  display: none;
}
