.search-section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.search-section .search-section__container {
  display: flex;
  justify-content: center;
}

.search-section .search-section__input {
  width: 30%;
}

.search-section button {
  background-color: #c7c7c7;
  padding: 3px;
}

.pagination {
  margin-top: 30px;
  justify-content: center;
}

.pagination__btn {
  min-width: 30px;
}

.pagination__btn--active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.article__list h2 {
  text-align: center;
}

table {
  width: 95%;
  border-collapse: collapse;
}

tr,
td,
th {
  border: 1px solid var(--color-dark-2);
  padding: 15px;
}

.article-title a {
  color: var(--color-primary);
  width: 100%;
  display: block;
}

.article-title a:hover {
  text-decoration: underline;
}

.delete-article {
  width: 10%;
  text-align: center;
}

.delete-article a span {
  font-size: 32px;
}

a.text-red:hover {
  color: #b11d29;
}

button {
  background: none;
}

.feature-article {
  width: 20%;
}
