*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
form {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-heading);
  font-weight: bold;
  color: var(--color-dark-1);
}

p,
small {
  font-family: var(--font-family-body);
  font-weight: 400;
  color: var(--color-dark-2);
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: var(--color-dark-2);
  transition: all ease-in-out 300ms;
}

a:hover:not(.button) {
  color: var(--color-primary);
}

button {
  border: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
